@media (max-width: 768px) {
  /* Common CSS */
  .inner {
    width: 100%;
    padding: 0 25px;
  }
  .premium-service-section,
  .business-product-section {
    height: auto;
    margin-top: 30px;
  }
  /* Header */
  .header-nav {
    display: none;
  }
  .header-ad img {
    width: 140px;
  }
  .login {
    display: none;
  }
  .m-nav-open {
    display: block;
  }
  /* Section : Main Slide */
  .m-slide {
    height: 480px;
    padding: 0;
    background-size: 325px 480px;
  }
  .m-slide h2 {
    font-size: 25px;
  }
  .m-slide p {
    max-width: 80%;
    word-break: keep-all;
  }
}
